// list04
section.list_04(data-menu='true')
	.layoutWrap
		h2.title  SELECTED POSTS
		.detail 特展搶鮮看
		.subTitleWrap
			p.subTitle
		.sliderWrap
			.slidesWrap.wow.custom_fadeinup
				ul.slides
					li
						a.img(href='https://www.juksy.com/archives/66531', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/66531/592f8fb837310.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66531', target='_blank')
								h3 漫威大徵招！《復仇者聯盟世界巡迴展》炫風來台尋英雄　2 大條件你有了嗎？
					li
						a.img(href='https://www.juksy.com/archives/66823', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/66823/59391bc8bbe18.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66823', target='_blank')
								h3 彩虹橋、雷神槌就在眼前！《復仇者聯盟世界巡展》5 大「必逛必玩」看點　連鋼鐵人盔甲也能穿上身！
					li
						a.img(href='https://www.juksy.com/archives/66539', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/66539/59390fb7741d2.png?m=resize&i=600x600&e=jpg&q=75')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-module='dotdotdot', href='https://www.juksy.com/archives/66539', target='_blank')
								h3 還在等復仇者聯盟3？ 今夏最夯「復仇者聯盟世界巡迴展」讓漫威迷們提前體驗！
// list04 end